# Android Studio
.project
.settings
.classpath

# Watchman
.watchmanconfig

# Android
.idea
.gradle
local.properties
*.iml
/packages/react-native/android/*
!/packages/react-native/android/README.md
android/app/build
android/app/build/*

# Node
node_modules
*.log
.nvm
package-lock.json

# OS X
.DS_Store

# Visual studio
.vscode
.vs

# iOS / CocoaPods
Gemfile.lock
ios/Pods/
ios/build/*